*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Gilroy';
}

html,body{
  height:100%;
  width:100%;
}

body{
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: gray
}

#card{
  height:500px;
  width:350px;
  background-color:#fff ;
  border-radius: 20px;
  padding:30px;
  text-align:center;
}

#card img{
  height:60%;
  width:100%;
  object-fit:cover;
  object-position:center;
  border-radius: 5px;
}

#card h1{
  font-size:30px;
  margin: 10px 0;
  font-weight: 700;
}

#card h5{
  font-size:25px;
  color:red;
  margin-bottom:20px;
  font-weight: 700;
}

#card #add{
  background-color:lightgreen;
  color:black;
  font-weight:700;
  padding:12px 20px;
  border-radius: 15px;
  border-color:black;
  margin:5px;
  cursor:pointer;
}



